h1{
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Ewert", serif;
  color:  #00f9ff;
}
h2 {
  color: #f000ff;
  font-size: 35px;
  text-align: center;
  font-family: "Kaushan Script", serif;
}
a{
  color: #fff;
}
body{
    background-size: contain;
    background-color: #2d3b36;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
}
button :hover{
  text-decoration: none;
}


              /*LANDING PAGE */

#home {
    background: transparent url(../img/hacker2.jpg );
    z-index: -1;
    no-repeat center center fixed;
    background-size: cover;
    height: 855px;
}
.overlay{
  background-color: rgba(0,0,0,0.6);
  z-index: 0;
  height: 855px;
}
.page h1 {
  position: relative;
  padding-top: 20%;
  color: white;
  text-shadow: 2px 1px 2px #000; /*horizontal vertical blur color*/
  text-align: center;
  font-family: times;
  font-size: 4em;
}
.divider {
  border-top: 0.5px solid #FFF09F;
  border-bottom: 1px solid #FFF09F;
  }
.know_me{
  margin-top: 50px;
}
.rotation {
  display: inline;
  color: #f000ff;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  position: relative;
}
.rotation span {
    opacity: 0;
    overflow: hidden;
    position: absolute;
	  animation: rotateWord 10s linear infinite 0s;
  }

.rotation span:nth-child(1) {
	animation-delay: 0s;
  }
.rotation span:nth-child(2) {
	animation-delay: 3s;
  }
.rotation span:nth-child(3) {
	animation-delay: 6s;
  }
@keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	2% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

              /*NAV*/

.sticky {
  transition: all .2s ease-in-out;
  position: static;
  background-color: #000;
  padding: 5px;
  min-height: 5px;
}
.stuck {
  position: fixed;
  top: 0;
  background-color: #4c6da3;
  color: black;
  padding: .5vh;
  min-height: 0;
  z-index: 10;
}
#menu {
  width: 100%;
}
#menu ul {
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  transition: background-color 1s ease;
}
#menu li:hover{
  background-color: #f37370;
  text-decoration: underline;
}
#menu a {
  color: white;
  padding: .5em;
  text-decoration: none;
  display: block
}

              /*ABOUT SECTION*/
#about{
  height: 855px;
  background: transparent url(../img/coffee.jpg) no-repeat center fixed;
  background-size: cover;
}
.container{
  padding-top: 50px;
  z-index: 0;
  width: 100%;
}
.userpic img{
  width: 170px;
  height: 170px;
  border: 4px solid white;
  border-radius: 100px;;
}
.about_text{
  padding: 30px 0px 30px 0px;
}
.icon img{
  /*float: left;*/
  width: auto;
  height: auto;
  border: 4px solid #fff;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,.5);

}
.icon{
  float: left;
  width: 33.3%;
}

            /*PORTFOLIO*/

#portfolio{
  height: auto;
  background: url(../img/office.jpg) no-repeat center fixed;
  /*filter:grayscale(100%);*/
  background-size: cover;
}
.buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.buttons * {
  transition: all .5s ease;
}
.buttons {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.butFrame {
  width: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  font-family: inherit;
  font-size: 1em;
  float: left;
  padding: 2.5% 5% 2.5% 5%;
  text-align: center;
}
.butFrame > img {
  width: 100%;
  height: auto;
}
.butHeading {
  position: absolute;
  bottom: 0px;
  padding: 10px 15px 15px;
  font-size: 1.2em;
  color: #666;
  width: 80%;
  background: rgba(240, 240, 240, 1);
}
.butFrame:before {
  background: #111;
  content: "VIEW";
  position: absolute;
  bottom: -35px;
  padding: 10px 15px;
  z-index: 1;
  color: #fff;
  font-size: 0.9em;
  width: 80%;
  transition: .5s;
}
/* HOVER STYLES */
.butFrame:hover:before {
  bottom: 0px;
  padding: 23% 20%;
  /*padding: 25px 15px;*/
  opacity: 0.9;
  z-index: 1;
  /*height: 90%;*/
}

          /*CONTACTS*/

#contact{
  /*height: 855px;*/
  background: transparent url(../img/keyboard.jpg) no-repeat center fixed;
  background-size: cover;
}
form {
    width: 100%;
    height: auto;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden;
}


input {
    width: auto;;
    height: auto;;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    display:block;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}
input.name, .email {
	  background: rgba(255, 255, 255, 0.4);
	  padding-left:45px;
}
textarea.message {
	  background: rgba(255, 255, 255, 0.4);
	  padding-left:45px;
    color: #fff;
}
.accordion {
  width: 100%;
  height: auto;
  padding:30px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  overflow: hidden;
}
 .acc-head {
   color: #00ff38;
}
.kk, .acc-head:hover {
  color: #000;
}
.socialbar {
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  width: 100%;
}
.socialbar img{
  border-radius: 100%;
  height: 80px;
  width: 80px;
  margin: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,1);

}
#footer{
  background-color: #000;
  box-shadow: 0 0 13px 3px rgba(0,0,0,.5);

}
:valid {
    color: blue;
}
:invalid {
    color: red;
}
